.header h2 {
    line-height: 5px;
    margin: 35px;
}

.nav {
    background-color: brown;
    line-height: 2.5rem;
    /* width: ; */
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 2em;
    padding: .1em 1em;
    border: 1px solid black;
}

.nav a:hover {
    color: black;
    border: 1px solid white;

}

